/* Bootstrap Import */
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-alpine.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Poppins', sans-serif;
}

.btn-save {
  background: linear-gradient(180deg, #003d82 0%, #0f4fae 100%);
  border: none;
  color: #ffffff;
}

.btn-save:hover,
.btn-save:focus {
  background: linear-gradient(180deg, #002f67 0%, #0d3e90 100%);
}


